@charset "UTF-8";
* {
	font-family: consolas;
}
a {
	color: inherit;
	text-decoration: none;
}
.board {
	width: 600px;
}
.boards {
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
}
.boards th, .boards td {
	border: 1px solid black;
	padding: 5px 10px;
}
.boards pre {
	min-height: 150px;
}
.page {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}
.page > li {
	margin: 0 10px;
}