@charset "UTF-8";
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 10px;
	width: 100px;
	padding: 10px;
	text-align: center;
	border: 6px double #aaaaaa;
	color: black;
}
.menu > li:hover {
	background-color: #eeeeee;
	color: navy;
}
.books {
	border-collapse: collapse;
}
.books th, .books td {
	border: 1px solid #aaaaaa;
	padding: 5px 10px;
}
.board {
	border-collapse: collapse;
}
.board th, .board td {
	border: 1px solid #aaaaaa;
	padding: 5px 10px;
}
.page {
	display: flex;
	padding: 0;
	list-style: none;
}
.page > li {
	margin: 0 10px;
}