@charset "UTF-8";
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 5px 10px;
}
.menu {
	list-style: none;
	padding: 0;
	display: flex;
}
.menu > li {
	margin: 0 10px;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
.del {
	text-decoration: none;
	color: black;
}
.del {
	text-decoration: underline;
}
form > p {
	width: 250px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
form input {
	width: 170px;
	box-sizing: border-box;
}